{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <p><a href="{% url 'product_list' %}">&larr; Back to Products</a></p>
    <h1>{{ product.name }}</h1>
    <p>Code: {{ product.product_code }} | Category: {{ product.category.name }}</p>
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="400">
    {% endif %}
    <div>{{ product.description|linebreaks }}</div>

    <p>
        <a href="{% url 'contact_view' %}?product={{ product.id }}">Enquire about this product</a>
    </p>
{% endblock %}
